body {
    font-family: 'roboto',sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E5E7EB;
}

.logo {
    font-weight: bold;
    padding-left: 10%;
}

header a, a:visited {
    text-decoration: none;
    color:#E5E7EB;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-size: 12px;
    padding-right: 10%;
}

.hero, header, footer {
    background-color: #1F2937;
    padding: 50px;
}

.hero h1 {
    font-size: 40px;
    font-weight: bolder;
    color:#F9FAF8;
    margin: 0;
    
}

.hero .left {
    padding-left: 10%;
    padding-right: 5%;
}

.hero .right {
    padding-right: 10%;

}

.hero {
    margin-top: 0;
    font-size: 18px;
    color: #E5E7EB;
    display: inline-flex;
}

.hero img {
    width: 450px;
    height: 150px;
    background-color: lightgrey;
    display: flex;
    text-align: center;
    padding-top: 25%;
}
.content h2 {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}

.button {
    background-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    font-weight: lighter;
}